.portfolio {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 125px;
  padding-left: 70px;
  padding-right: 70px;
  box-sizing: border-box;
  max-width: 1280px;
}

@media (max-width: 768px) {
  .portfolio {
    margin-top: 8px;
    margin-bottom: 79px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 420px) {
  .portfolio {
    margin-bottom: 70px;
    padding-left: 14px;
    padding-right: 14px;
  }
}

.portfolio__title {
  color: #8b8b8b;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  margin-bottom: 28px;
}

@media (max-width: 420px) {
  .portfolio__title {
    font-size: 14px;
    margin-bottom: 18px;
  }
}

.portfolio__links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.portfolio__element {
  padding-top: 20px; 
  padding-bottom: 20px;
  
}

.portfolio__element:nth-child(n+2) {
  border-top: 1px solid #424242;
}

@media (max-width: 320px) {
  .portfolio__element:nth-child(n+2) {
    border-top: 1px solid #fff;
  }
}


.portfolio__link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  line-height: normal;
  transition: opacity .3s ease-in-out;
}

.portfolio__link:hover {
  opacity: .8;
}

.portfolio__element-title {
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
  margin: 0;
}

@media (max-width: 768px) {
  .portfolio__element-title {
    color: #fff;
    font-family: "Inter", Arial, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.12px;
  }
}

@media (max-width: 550px) {
  .portfolio__element-title {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }
}

.portfolio__element-arrow {
  width: 20px;
  height: 20px;
  background-image: url(../../images/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 550px) {
  .portfolio__element-arrow {
    width: 16px;
    height: 16px;
  }
}