.nav {
  display: flex;
  gap: 16px;
}

.nav__link {
  color: #fff;
  text-align: right;
  font-family: "Inter";
  font-size: 13px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  &:visited {
    color: #fff;
  }
}